/* Variables */

:root {
	--basic-white: #ffffff;
	--white-smoke-level1: #f2f2f2;
	--white-smoke-level2: #eeeeee;
	--white-thirty-percent: rgba(255, 255, 255, 0.3);
	--white-ninety-percent: rgba(255, 255, 255, 0.9);

	--basic-black: #000000;
	--black-thirty-percent: rgba(0, 0, 0, 0.3);
	--night-rider: #333333;

	--basic-seagull: #81b3d2;
	--basic-seagull-hover: #669ec0;
	--basic-seagull-active: #5496bd;

	--pine-cone: #766357;
	--pine-cone-hover: #604e43;
	--pine-cone-active: #503e33;

	--basic-gainsboro: #e5e5e5;
	--very-light-grey: #cacaca;
	--dim-gray: #666666;

	--shadow-dark-green-fifteen-percent: rgba(0, 1, 1, 0.15);
	--shadow-dark-green-twenty-percent: rgba(0, 1, 1, 0.2);
}

/* Globale */

body {
	margin: 0;
	padding: 0;
	
	font-size: 14px;
	line-height: 26px;
	color: var(--basic-black);
	text-transform: uppercase;
	font-weight: 400;
	font-family: "PT Sans", Arial, sans-serif;
	background-color: var(--white-smoke-level1);
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

/* Class visually-hidden */

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Grid */

/*
			margin: 0 auto; width: 1214px; 
	to make margin left and right for screen < 1200px
*/
.page {
	height: 100%;

	margin: 0 auto;
	width: 1214px;
}

.page-body {
	min-height: 100%;
	display: grid;
	grid-template-rows: min-content 1fr min-content;
	align-content: start;

	width: 1200px;
	margin:0 auto;

	box-shadow: 0px 5px 15px var(--shadow-dark-green-twenty-percent);
}

/* Logo */

.main-header-logo {
	width: 138px;
	height: 70px;
	position: relative;
	z-index: 1;
}

/* Main Navigation */

.main-navigation{
	display: flex;
	flex-direction: column;
	align-items: center;

	font-weight: 700;
	color: var(--basic-black);
}

.main-navigation-wrapper {
	background-color: var(--basic-white);

	margin-top: -70px; 
}

.site-navigation {
	display: flex;
	flex-wrap: wrap;
	list-style: none;

	margin: 0 0 -14px 0;
	padding: 0 0 14px 0;

	background-color: var(--basic-white);
}

.site-navigation-item {
	width: 240px;
	padding-top: 15px;
	padding-bottom: 15px;
}

.site-navigation-item:nth-child(4n + 1) {
	text-align: left;
	padding-left: 73px;
}

.site-navigation-item:nth-child(4n + 2) {
	text-align: left;
	padding-right: 47px;
}

.site-navigation-item:nth-child(4n + 3) {
	text-align: right;
	padding-left: 47px;
}

.site-navigation-item:nth-child(4n + 4) {
	text-align: right;
	padding-right: 73px;
}

/* None or Normal - Покой */
.site-navigation a {
	color: var(--basic-black);
}

/* Hover - Наведение */
.site-navigation a:hover {
	color: var(--basic-seagull);
}

/* Focused - Активный */
.site-navigation a:focus {
	color: var(--pine-cone);
}

/* Pressed - Нажатие */
.site-navigation a:active {
	color: var(--black-thirty-percent);
}

/* Находимся на странице */
.site-navigation-current a {
  color: var(--pine-cone);
}

/* Main content sections */

.content h2 {
	font-weight: 700;
	font-size: 21px;
}

.introduction, .advantages, .interested {
	text-align: center;
}

.introduction, .interested {
	background-color: var(--basic-white);
}

/* Introduction Section */

.intro-welcome {
	width: 1200px;
	height: 509px;
	background: url("../img/intro-background.jpg") no-repeat center top;
}

.intro-welcome img {
	vertical-align: baseline;
	padding: 78.5px 371px;
}

.intro-mask {
	margin-top: -56px;
}

.introduction h2,
.introduction p,
.intro-content {
	margin: 0;
}

.intro-content {
	padding-top: 43px;
	padding-bottom: 51px;
}

.introduction h2 {
	padding-bottom: 22px;
}

.introduction p {
	color: var(--night-rider);
	padding-top: 22px;
}

/* Advantages Section */

.advantages {
	outline: 5px solid rgba(181, 0, 204, 0.5);
	outline-offset: -5px;
}

.advantages h2, .advantages h3 {
	line-height: 21px;
}

.advantages h3 {
	font-weight: 400;
}

.real-town, .bridge {
	background-color: var(--basic-seagull);
	color: var(--basic-white);
}

.real-town {
	outline: 5px solid rgba(247, 202, 24, 0.7);
	outline-offset: -5px;

	display: grid;
	grid-template-columns: 1fr 2fr;

	margin: 0;
}

.real-town-wraper, .bridge-wraper {
	padding-top: 32px;
	padding-bottom: 32px;
}

.real-town h2, .bridge h2 {
	outline: 5px solid rgba(0, 0, 200, 0.5);
	outline-offset: -5px;
}

.real-town h3, .bridge h3 {
	outline: 5px solid rgba(0, 200, 0, 0.5);
	outline-offset: -5px;
}

.real-town p, .bridge p {
	outline: 5px solid rgba(200, 200, 0, 0.5);
	outline-offset: -5px;
}

.real-town img, .bridge img {
	outline: 5px solid rgba(200, 0, 0, 0.5);
	outline-offset: -5px;
}

.comfort {
	background-color: var(--basic-white);

	display: grid;
	grid-template-columns: 1fr 1fr 1fr;

	outline: 5px solid rgba(211, 38, 0, 0.7);
	outline-offset: -5px;
}

.housing {
	background: url(../img/icon-housing.svg) center 60px no-repeat;
}

.food {
	background: url(../img/icon-food.svg) center 61px no-repeat;
}

.souvenirs {
	background: url(../img/icon-souvenirs.svg) center 55px no-repeat;
}

.housing, .food, .souvenirs {
	outline: 5px solid rgba(211, 38, 211, 0.7);
	outline-offset: -5px;

	padding-top: 160px;
	padding-bottom: 82px;
}

.housing h2, .food h2, .souvenirs h2 {
	outline: 5px solid rgba(0, 255, 211, 0.7);
	outline-offset: -5px;

	margin: 0;

	padding-bottom: 15px;
}

.housing p, .food p, .souvenirs p {
	outline: 5px solid rgba(0, 0, 70, 0.7);
	outline-offset: -5px;

	margin: 0;

	padding-top: 10px;

	color: var(--night-rider);
}

.bridge {
	outline: 5px solid rgba(247, 202, 24, 0.7);
	outline-offset: -5px;

	display: grid;
	grid-template-columns: 2fr 1fr;
}

.attractions {
	background-color: var(--white-smoke-level2);

	display: grid;
	grid-template-columns: 1fr 1fr 1fr;

	outline: 5px solid rgba(211, 38, 0, 0.7);
	outline-offset: -5px;
}

.attractions h3, .attractions p {
	color: var(--night-rider);
	font-weight: 400;
}

.area, .road, .tourist {
	outline: 5px solid rgba(211, 38, 211, 0.7);
	outline-offset: -5px;

	padding-top: 32px;
	padding-bottom: 32px;
}

.area h2, .road h2, .tourist h2 {
	outline: 5px solid rgba(0, 255, 211, 0.7);
	outline-offset: -5px;

	margin: 0;
	padding-top: 15px;
	padding-bottom: 15px;
}

.area h3, .road h3, .tourist h3 {
	outline: 5px solid rgba(255, 255, 40, 0.7);
	outline-offset: -5px;

	margin: 0;
	padding-top: 10px;
	padding-bottom: 10px;
}

.area p, .road p, .tourist p {
	outline: 5px solid rgba(0, 0, 70, 0.7);
	outline-offset: -5px;

	margin: 0;

	padding-top: 13px;
	padding-bottom: 14px;
}

/* Button */

.button {
	border: none;
}

/* Interested Section */

.interested {
	outline: 5px solid rgba(0, 0, 180, 0.3);
	outline-offset: -5px;

	margin-top: 0;
	padding-top: 58px;
}

.interested h2, .interested p {
	line-height: 24px;
}

.interested h2 {
	font-weight: 700;
	font-size: 30px;

	padding-bottom: 37px;

	margin: 0;
}

.interested p {
	color: var(--night-rider);

	padding-bottom: 38px;

	margin: 0;
}

.hotel-search {
	font-weight: 700;
	margin:0 auto;
	width: 568px;


	outline: 5px solid rgba(180, 0, 0, 0.3);
	outline-offset: -5px;
}

.hotel-search .search-popup, .hotel-search .search {
	color: var(--basic-white);
	font-size: 21px;
}

.hotel-search-form {
	background-color: var(--basic-white);

	box-shadow: 0px 7px 15px var(--shadow-dark-green-fifteen-percent);

	margin: 0 0 -395px 0;

	width: 568px;
	height: 395px;

	position: relative;
	z-index: 1;
	
	visibility: hidden;
	visibility: visible;
}

/* None or Normal - Покой */
.search-popup {
	background-color: var(--pine-cone);
	line-height: 26px;

	font-weight: 700;

	width: 568px;

	padding: 30px 9px 30px 10px;

	position: relative;
}

/* Hover - Наведение */
.search-popup:hover {
	background-color: var(--pine-cone-hover);
	cursor: pointer;
}

/* Focused - Активный */
.search-popup:focus {
	background-color: var(--pine-cone-hover);
}

/* Pressed - Нажатие */
.search-popup:active {
	background-color: var(--pine-cone-active);

	color: var(--white-thirty-percent);
	mix-blend-mode: normal;
}

.arrival-date {
	padding-bottom: 29px;
}

.departure-date {
	padding-bottom: 30px;
}

.guests-quantity {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.hotel-search-form input[type="text"] {
	width: 346px;
	height: 38px;
}

.hotel-search-form input[type="number"] {
	width: 114px;
	height: 38px;
}

/* None or Normal - Покой */
.search {
	background-color: var(--basic-seagull);
	line-height: 26px;

	font-weight: 700;

	width: 458px;

	padding: 16px 9px 16px 10px;
}

/* Hover - Наведение */
.search:hover {
	background-color: var(--basic-seagull-hover);
	cursor: pointer; 
}

/* Focused - Активный */
.search:focus {
	background-color: var(--basic-seagull-hover);
}

/* Pressed - Нажатие */
.search:active {
	background-color: var(--basic-seagull-active);
	color: var(--white-thirty-percent);
	mix-blend-mode: normal;
}

.sedona-map {
	background-color: var(--basic-white);
	
	margin: 0;

	outline: 5px solid rgba(155, 0, 130, 0.7);
	outline-offset: -5px;
}

.sedona-map img {
	margin-bottom: -128px;
}

.filter {
	background: var(--basic-seagull) url("../img/filter-background.jpg") no-repeat center top;
	color: var(--basic-white);
	line-height: 21px;
	font-size: 14px;
}

.filter-form {
	outline: 5px solid rgba(211, 38, 0, 0.7);
	outline-offset: -5px;
}

.filter-form button {
	outline: 5px solid rgba(0, 0, 255, 0.3);
	outline-offset: -5px;
}

.infrastructure, .housing-type, .cost-per-night {
	outline: 5px solid rgba(211, 38, 0, 0.3);
	outline-offset: -5px;
}

.filter fieldset {
	border: 0;
}

.filter legend {
	font-size: 16px;
	font-weight: 700;
}

.filter-result {
	background-color: var(--basic-white);

	outline: 5px solid rgba(240, 0, 0, 0.7);
	outline-offset: -5px;
}

.filter-sort {
	font-size: 12px;
	line-height: 18px;

	outline: 5px solid rgba(0, 0, 240, 0.7);
	outline-offset: -5px;
}

.hotel-result {
	outline: 5px solid rgba(240, 240, 0, 0.7);
	outline-offset: -5px;
}

.hotel-img {
	outline: 5px solid rgba(0, 240, 0, 0.7);
	outline-offset: -5px;
}

.hotel-info {
	outline: 5px solid rgba(0, 0, 240, 0.7);
	outline-offset: -5px;
}

.hotel-info h2 {
	outline: 5px solid rgba(240, 0, 240, 0.7);
	outline-offset: -5px;
}

.hotel-info span {
	outline: 5px solid rgba(0, 240, 240, 0.7);
	outline-offset: -5px;
}

.hotel-info .more {
	outline: 5px solid rgba(240, 0, 0, 0.7);
	outline-offset: -5px;
}

.hotel-info .book-now {
	outline: 5px solid rgba(0, 240, 0, 0.7);
	outline-offset: -5px;
}

.found {
	font-size: 21px;
	font-weight: 700;
	line-height: 26px;

	outline: 5px solid rgba(211, 38, 0, 0.3);
	outline-offset: -5px;
}

.sort {
	outline: 5px solid rgba(211, 38, 0, 0.3);
	outline-offset: -5px;
}

.sort-by {
	list-style: none;

	outline: 5px solid rgba(240, 0, 240, 0.7);
	outline-offset: -5px;
}

.sort-by li {
	outline: 5px solid rgba(211, 38, 0, 0.3);
	outline-offset: -5px;
}

/* None or Normal - Покой */
.sort-by a {
	border-bottom: 1px dashed var(--basic-seagull);
	color: var(--black-thirty-percent);
	font-size: 12px;
}

/* Hover - Наведение */
.sort-by a:hover {
	border-bottom: 1px dashed var(--basic-seagull);
	color: var(--basic-seagull);
}

/* Focused - Активный */
.sort-by a:focus {
	color: var(--basic-seagull);
	border-bottom: none;
}

/* Pressed - Нажатие */
.sort-by a:active {
	color: var(--basic-black);
	border-bottom: none;
}

.sort-by-current a {
  color: var(--basic-seagull);
  border-bottom: none;
}

.sort-btn p {
	outline: 5px solid rgba(0, 240, 0, 0.7);
	outline-offset: -5px;
}

.sort-btn a {
	outline: 5px solid rgba(90, 0, 150, 0.7);
	outline-offset: -5px;
}

.hotel-name {
	color: var(--basic-black);

	outline: 5px solid rgba(240, 240, 0, 0.7);
	outline-offset: -5px;
}

.hotel-name:hover {
	color: var(--basic-seagull);
}

.more {
	line-height: 21px;
	font-weight: 700;
	color: var(--basic-white);
	background-color: var(--basic-seagull);
	padding: 3px 16px 3px 17px;
}

.more:hover {
	background-color: var(--basic-seagull-hover);
}

.book-now {
	line-height: 21px;
	font-weight: 700;
	color: var(--basic-white);
	background-color: var(--pine-cone);
	padding: 3px 17px 3px 16px;
}

.book-now:hover {
	background-color: var(--pine-cone-hover);
}

.hotel-rating {
	outline: 5px solid rgba(240, 90, 0, 0.7);
	outline-offset: -5px;
}

.hotel-rating p {
	outline: 5px solid rgba(90, 0, 150, 0.7);
	outline-offset: -5px;
}

.hotel-rating img {
	outline: 5px solid rgba(90, 150, 0, 0.7);
	outline-offset: -5px;
}

.hotel-rating span {
	color: var(--dim-gray);
	background-color: var(--white-smoke-level1);
	padding: 3px 12px 3px 15px;

	outline: 5px solid rgba(150, 90, 0, 0.7);
	outline-offset: -5px;
}

/* Main footer */

.main-footer {
	color: var(--basic-black);
}

.main-footer .content {
	background-color: var(--white-ninety-percent);
	padding-top: 23px;
	padding-bottom: 26px;

	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.footer-contacts,
.footer-social,
.footer-copyright {
	margin: 0;
}

.footer-contacts {
	font-weight: 700;
	text-align: center;

	padding-left: 73px;

	outline: 5px solid rgba(150, 90, 0, 0.7);
	outline-offset: -5px;
}

.footer-contacts h2, .footer-contacts p {
	font-size: 21px;

	padding-bottom: 9px;

	margin-top: 0;
	margin-bottom: 0;
}

.footer-contacts p {
	padding-bottom: 10px;
}

.footer-contacts h2,
.footer-contacts p  {
	margin-top: 0;
	margin-bottom: 0;
}

.footer-contacts a {
	color: var(--basic-black);
}

.footer-social {
	text-align: center;

	padding-top: 5px;

	outline: 5px solid rgba(0, 255, 0, 0.7);
	outline-offset: -5px;
}

.footer-social ul {
	list-style: none;

	margin-top: 9px;
	margin-bottom: 9px;

	display: flex;
	padding-left: 0;
	align-items: center;
	justify-content: center;
}

.footer-social li {
	outline: 5px solid rgba(0, 0, 255, 0.7);
	outline-offset: -5px;
}

/* Social button */

.social-button {
	background-color: var(--basic-seagull);
	width: 46px;
	height: 48px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 6px;
}

.social-button:hover, .social-button:focus {
	background-color: var(--basic-seagull-hover);
}

.social-button:active {
	background-color: var(--basic-seagull-active);
	mix-blend-mode: normal;
}

.social-button:active img {
	opacity: 0.3;
	mix-blend-mode: normal;
}

.footer-social-item:last-child a {
	margin-right: 0;
}

.footer-copyright {
	outline: 5px solid rgba(0, 0, 255, 0.7);
	outline-offset: -5px;

	padding-right: 73px;

	display: flex;
	justify-content: center;
	align-items: center;
}

.website-by {
	outline: 5px solid rgba(0, 255, 0, 0.7);
	outline-offset: -5px;

	
	padding-top: 4px;
	padding-bottom: 0;
}

.website-by + a {
	margin-left: 8px;
}

.footer-copyright a {
	outline: 5px solid rgba(255, 0, 0, 0.7);
	outline-offset: -5px;

	width: 115px;
	height: 41px;
	background-image: url("../img/logo-htmlacademy.svg");

	line-height: 0;
}

.footer-copyright a:hover, .footer-copyright a:focus {
	background-image: url("../img/logo-htmlacademy-hover.svg");
}

.footer-copyright a:active {
	background-image: url("../img/logo-htmlacademy-active.svg");
}

.page-body * {
	outline: none !important;
}