/* Variables */

:root {
	--basic-white: #ffffff;
	--white-smoke-level1: #f2f2f2;
	--white-smoke-level2: #eeeeee;
	--white-smoke-level3: #ebebeb;

	--white-thirty-percent: rgba(255, 255, 255, 0.3);
	--white-ninety-percent: rgba(255, 255, 255, 0.9);

	--basic-black: #000000;
	--black-thirty-percent: rgba(0, 0, 0, 0.3);
	--night-rider: #333333;

	--basic-seagull: #81b3d2;
	--basic-seagull-hover: #669ec0;
	--basic-seagull-active: #5496bd;

	--pine-cone: #766357;
	--pine-cone-hover: #604e43;
	--pine-cone-active: #503e33;

	--basic-gainsboro: #e5e5e5;
	--very-light-grey: #cacaca;
	--dim-gray: #666666;
	--dark-gray-top: #ababab;
	--dark-gray: #a9a9a9;
	--basic-silver: #bdbbbc;

	--shadow-dark-green-fifteen-percent: rgba(0, 1, 1, 0.15);
	--shadow-dark-green-twenty-percent: rgba(0, 1, 1, 0.2);
}

/* Globale */

body {
	margin: 0;
	padding: 0;
	
	font-size: 14px;
	line-height: 26px;
	color: var(--basic-black);
	text-transform: uppercase;
	font-weight: 400;
	font-family: "PT Sans", Arial, sans-serif;
	background-color: var(--white-smoke-level1);
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

/* Class visually-hidden */

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Grid */

.page {
	height: 100%;
}

.page-body {
	min-height: 100%;
	display: grid;
	grid-template-rows: min-content 1fr min-content;
	align-content: start;

	width: 1200px;
	margin:0 auto;

	box-shadow: 0px 5px 15px var(--shadow-dark-green-twenty-percent);
}

/* Logo */

.main-header-logo {
	width: 138px;
	height: 70px;
	position: relative;
	z-index: 1;
}

/* Main Navigation */

.header {
	background-color: var(--basic-white);
}

.main-navigation{
	display: flex;
	flex-direction: column;
	align-items: center;

	font-weight: 700;
	color: var(--basic-black);
}

.main-navigation-wrapper {
	margin-top: -70px;
}

.site-navigation {
	display: flex;
	flex-wrap: wrap;
	list-style: none;

	margin: 0 0 -14px 0;
	padding: 0 0 14px 0;
}

.site-navigation-item {
	background-color: var(--basic-white);
	padding-top: 15px;
	padding-bottom: 15px;
}

.site-navigation-item:nth-child(4n + 1) {
	padding-left: 73px;
	width: 227px;

	text-align: left;
}

.site-navigation-item:nth-child(4n + 2) {
	width: 300px;
	text-align: left;
}

.site-navigation-item:nth-child(4n + 3) {
	width: 300px;
	text-align: right;
}

.site-navigation-item:nth-child(4n + 4) {
	width: 227px;
	padding-right: 73px;

	text-align: right;
}

/* None or Normal - Покой */
.site-navigation a {
	color: var(--basic-black);
}

/* Hover - Наведение */
.site-navigation a:hover {
	color: var(--basic-seagull);
}

/* Focused - Активный */
.site-navigation a:focus {
	color: var(--pine-cone);
}

/* Pressed - Нажатие */
.site-navigation a:active {
	color: var(--black-thirty-percent);
}

/* Находимся на странице */
.site-navigation-current a {
  color: var(--pine-cone);
}

/* Main content sections */

.content {
	background-color: var(--basic-white);
}

.content h2 {
	font-weight: 700;
	font-size: 21px;
}

.introduction, .advantages, .interested {
	text-align: center;
}

.introduction, .interested {
	background-color: var(--basic-white);
}

/* Introduction Section */

.intro-background {
	width: 1200px;
	height: 509px;
	background: url(../img/intro-mask.svg) no-repeat center bottom, 
				url("../img/intro-background.jpg") no-repeat center -1px;
}

.intro-welcome img {
	vertical-align: baseline;
	padding-top: 76.35px;
}

.introduction h2,
.introduction p,
.intro-content {
	margin: 0;
}

.intro-content {
	padding-top: 41px;
	padding-bottom: 52px;
}

.introduction h2 {
	padding-bottom: 22px;
	font-size: 21px;

	margin: 0 auto;
}

.introduction p {
	color: var(--night-rider);
	padding-top: 22px;

	margin: 0 auto;
}

/* Advantages Section */

.advantages h2, .advantages h3 {
	line-height: 21px;
}

.advantages h3 {
	font-weight: 400;
}

.real-town, .bridge {
	background-color: var(--basic-seagull);
	color: var(--basic-white);
}

.real-town {
	display: grid;
	grid-template-columns: 1fr 2fr;

	margin: 0;
}

.real-town-wraper, .bridge-wraper {
	padding-top: 30px;
}

.bridge-wraper {
	padding-top: 33px;
}

.real-town h2, .bridge h2 {
	padding-top: 16px;
	padding-bottom: 16px;
	margin: 0;
}

.real-town h3, .bridge h3 {
	padding-top: 10px;
	padding-bottom: 10px;
	
	margin: 0;
}

.real-town p, .bridge p {
	margin: 0;
	padding-top: 16px;
	line-height: 21px;
}

.comfort {
	background-color: var(--basic-white);

	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.housing {
	background: url(../img/icon-housing.svg) center 60px no-repeat;
}

.food {
	background: url(../img/icon-food.svg) center 61px no-repeat;
}

.souvenirs {
	background: url(../img/icon-souvenirs.svg) center 56px no-repeat;
}

.housing, .food, .souvenirs {
	padding-top: 144px;
	padding-bottom: 70px;
}

.housing h2, .food h2, .souvenirs h2 {
	margin: 0;
	padding-top: 14px;
	padding-bottom: 14px;
}

.housing p, .food p, .souvenirs p {
	margin: 0;
	line-height: 21px;

	padding-top: 12px;
	padding-bottom: 13px;

	color: var(--night-rider);
}

.bridge {
	display: grid;
	grid-template-columns: 2fr 1fr;
}

.attractions {
	margin: 0;

	background-color: var(--white-smoke-level2);

	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.attractions h3, .attractions p {
	color: var(--night-rider);
	font-weight: 400;
}

.area h2, .road h2, .tourist h2 {
	margin: 0;
	padding-top: 47px;
	padding-bottom: 54x;
}

.area h3, .road h3, .tourist h3 {
	margin: 0;
	padding-top: 25px;
}

.area p, .road p, .tourist p {
	margin: 0;
	padding-top: 23px;
	padding-bottom: 56px;

	line-height: 21px
}

/* Button */

.button {
	border: none;
}

/* Interested Section */

.interested {
	margin-top: 0;
}

.interested h2, .interested p {
	line-height: 24px;
}

.interested h2 {
	font-weight: 700;
	font-size: 30px;

	margin: 0;
	padding-top: 57px;
}

.interested p {
	color: var(--night-rider);

	margin: 0;
	padding-top: 32px;

	padding-bottom: 44px;
}

.search-popup, .search {
	color: var(--basic-white);
	font-size: 21px;
	text-transform: uppercase;
}

/* None or Normal - Покой */
.search-popup {
	background-color: var(--pine-cone);

	line-height: 26px;

	font-weight: 700;

	width: 568px;

	padding: 30px 9px 30px 10px;

	position: relative;
}

/* Hover - Наведение */
.search-popup:hover {
	background-color: var(--pine-cone-hover);
	cursor: pointer;
}

/* Focused - Активный */
.search-popup:focus {
	background-color: var(--pine-cone-hover);
}

/* Pressed - Нажатие */
.search-popup:active {
	background-color: var(--pine-cone-active);

	color: var(--white-thirty-percent);
}

/*display: none; I will do in the next step with JavaScript */

.hotel-search {
	font-weight: 700;
	margin:0 auto;
	width: 568px;
}

.hotel-search-form {
	background-color: var(--basic-white);

	box-shadow: 0px 7px 15px var(--shadow-dark-green-fifteen-percent);

	margin: 0 0 -395px 0;

	padding: 55px;

	font-size: 14px;

	position: relative;
	z-index: 1;
}

.arrival-date {
	width: 458px;

	margin: 0;
	padding-bottom: 29px;

	display: flex;
}

.departure-date {
	width: 458px;

	margin: 0;
	padding-bottom: 30px;

	display: flex;
}

.arrival-date label, .departure-date label {
	margin: 0;
	width: 112px;

	padding-top: 6px;
	padding-bottom: 6px;
}

.arrival-date button,
.departure-date button {
	vertical-align: middle;
	cursor: pointer;
	margin-left: -30px;
	padding: 0;
	background-color: transparent;
	fill: var(--dark-gray);
}

.arrival-date svg,
.departure-date svg {
	padding-top: 3px;
}

.arrival-date button:hover,
.departure-date button:hover {
	fill: var(--basic-black);
}

.arrival-date button:focus,
.departure-date button:focus {
	outline: none;
	fill: var(--basic-black);
}

.arrival-date button:active,
.departure-date button:active {
	outline: none;
	fill: var(--basic-seagull);
}

.hotel-search-form input[type="text"] {
	margin: 0;
	padding: 0 38px 0 13px;
	width: 295px;
	height: 38px;
	font-weight: 700;
	text-transform: uppercase;
	background-color: var(--white-smoke-level1);
	border: none;
}

.hotel-search-form input[type="text"]:hover {
	background-color: var(--white-smoke-level3);
}

.hotel-search-form input[type="text"]:focus {
	background-color: var(--basic-white);
	outline: 2px solid var(--basic-gainsboro);
}

.hotel-search-form input[type="text"]::placeholder {
	color: var(--basic-black);
	opacity: 1;
}

.guests-quantity {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.hotel-search-form input[type="number"] {
	margin: 0;
	padding: 0 0 0 13px;

	width: 101px;
	height: 38px;
	font-weight: 700;

	text-align: center;

	background-color: var(--white-smoke-level1);
	border: none;
	outline: none;
}

.adults, .children {
	display: flex;
}

.adults label, .children label {
	padding-top: 6px;
	padding-bottom: 6px;
}

.adults label {
	margin: 0;
	width: 112px;
}

.children label {
	margin: 0 26px 0 0;

	width: 92px;

	text-align: right;
}

.adults button, .children button {
	width: 38px;
	height: 38px;

	cursor: pointer;

	padding: 0;
	background-color: var(--white-smoke-level1);
	outline: none;
	fill: var(--dark-gray);
}

.adults button:hover, .children button:hover,
.adults button:focus, .children button:focus {
	fill: var(--basic-black);
}

.adults button:active, .children button:active {
	fill: var(--basic-seagull);
}

.plus {
	margin-left: -38px;
}

.minus {
	margin-right: -38px;
	z-index: 1;
}

.plus svg {
	padding: 14px 0 13px 0;
}

.minus svg {
	padding: 18px 0 17px 0;
}

/* None or Normal - Покой */
.search {
	background-color: var(--basic-seagull);
	line-height: 26px;

	font-weight: 700;

	width: 100%;

	margin-top: 54px;
	padding: 16px 9px 16px 10px;
}

/* Hover - Наведение */
.search:hover {
	background-color: var(--basic-seagull-hover);
	cursor: pointer; 
}

/* Focused - Активный */
.search:focus {
	background-color: var(--basic-seagull-hover);
}

/* Pressed - Нажатие */
.search:active {
	background-color: var(--basic-seagull-active);
	color: var(--white-thirty-percent);
}

.sedona-map {
	margin: 0;

	background-color: var(--basic-white);
}

.sedona-map img {
	margin-bottom: -128px;
}

.filter {
	margin: 0;
	padding: 27px 73px 31px 73px;

	background: var(--basic-seagull) url("../img/filter-background.jpg") no-repeat center top;
	color: var(--basic-white);
	line-height: 21px;
	font-size: 14px;
}

.filter fieldset {
	border: none;
}

.filter legend {
	font-size: 16px;
	font-weight: 700;
}

/* Chrome, Safari, Edge, Opera */
.filter input::-webkit-outer-spin-button,
.filter input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
.filter input[type=number] {
	-moz-appearance: textfield;
}

.filter-form {
	margin: 0;
	padding: 0;

	display: grid;

	grid-template-columns: 2fr 4fr 2fr;
}

.infrastructure, .housing-type, .filter-last-col {
	margin: 0;
	padding: 0;
}

.housing-type {
	padding-left: 8px;
}

.infrastructure legend,
.housing-type legend {
	margin: 0 0 3px 0;
}

.housing-type-item, 
.infrastructure-item {
	margin: 0;
	padding: 0;
	height: 23px;
}

.infrastructure-item:first-child,
.housing-type-item:first-child {
	margin: 0;
	padding-top: 23px;
}

.infrastructure-item:not(:first-child),
.housing-type-item:not(:first-child) {
	margin: 0;
	padding-top: 22px;
}

.filter-form input[type="checkbox"] {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.checkbox-item+label {
	display: inline-flex;
	align-items: center;
	user-select: none;

	cursor: pointer;
}

.checkbox-item+label::before {
	content: '';
	display: inline-block;

	width: 27px;
	height: 23px;
	flex-shrink: 0;
	flex-grow: 0;

	background: url("../img/checkbox.svg");
	background-color: inherit;
	background-repeat: no-repeat;
	background-position: 0px 0px;
	opacity: 0.9;
}

.checkbox-item:hover+label::before,
.checkbox-item:focus+label::before {
	background-position: 0px 0px;
	opacity: 1;
}

.infrastructure-item label::before {
	margin-right: 13px;
}

.housing-type-item label::before {
	margin-right: 17px;
}

.checkbox-item:checked+label::before {
	background-position: 0px -72px;
}

.checkbox-item:checked:hover+label::before,
.checkbox-item:checked:focus+label::before {
	background-position: 0px -72px;
	opacity: 1;
}

.checkbox-item:not(checked):disabled+label::before,
.checkbox-item:not(checked):disabled+label {
	background-position: 0px -48px;
	cursor: not-allowed;
}

.checkbox-item:checked:disabled+label::before,
.checkbox-item:checked:disabled+label {
	background-position: 0px -120px;
	cursor: not-allowed;
}

.filter-last-col {
	margin: 0;
	width: 317px;
}

.filter-item {
	margin: 0;
	padding: 0;
}

.range-filter {
	margin: 10px 0 0 0;
}

.price-controls {
	margin: 0;
	
	padding-top: 5px;
	padding-bottom: 6px;

	width: 313px;
	border: 2px solid var(--basic-white); 
	border-radius: 2px;
}

.price-controls label {
	margin: 0;
	padding-top: 2px;
	padding-bottom: 2px;
}

.price-controls .price-from {
	margin-left: 65px;
	padding-right: 9px;

	border-right: 2px solid var(--basic-white);
}

.price-controls .price-to {
	margin-left: 51px;
}

.price-controls .price {
	width: 58px;
	border: none;
	background-color: inherit;
	color: var(--basic-white);
}

.range-controls {
	position: relative;
	height: 22px;
	padding-top: 20px;

	margin-bottom: 13px;
}

.range-controls .scale {
	height: 2px;

	background-color: var(--white-thirty-percent);

	margin-left: 4px;
}

.range-controls .bar {
	width: 80%;
	height: 2px;
	background-color: var(--basic-white);

	margin-left: 6px;
}

.range-controls .toggle {
	position: absolute;
	top: 11px;
	left: 0;

	width: 4px;
	height: 4px;
	padding: 0;
	border: 7.5px solid var(--basic-white);
	background-color: var(--dark-gray-top);
	border-radius: 50%;
	box-shadow: 0 2px 0 0 var(--dark-gray-top);
	cursor: pointer;
}

.range-controls .toggle:hover {
	top: 10px;
	width: 5px;
	height: 5px;
	border: 8.5px solid var(--basic-white);
}

.range-controls .toggle-min {
	left: 0;
}

.range-controls .toggle-max {
	left: 252px;
}

.filter-btn {
	margin: 0 11px 0 0;
	text-align: center;
}

.filter-btn button {
	border: 2px solid var(--basic-white);
	height: 36px;
	padding: 6px 34px 7px 33px;

	line-height: 21px;

	background-color: inherit;

	color: var(--basic-white);

	text-transform: uppercase;

	cursor: pointer;
}

.filter-last-col button:hover, 
.filter-last-col button:focus {
	background-color: var(--basic-white);
	color: var(--basic-black);
}


.filter-result {
	background-color: var(--basic-white);
}

.filter-sort {
	font-size: 12px;
	line-height: 18px;

	margin: 0;

	padding: 29px 73px 31px 73px;

	display: grid;

	grid-template-columns: 1fr 1fr 6fr 1fr;
}

.found {
	font-size: 21px;
	font-weight: 700;
	line-height: 26px;

	padding-right: 8px;

	width: 155px;
}

.sort {
	padding-top: 2px;
}

.sort-by {
	margin: 0;

	padding: 3px 4px 3px 4px;

	list-style: none;

	display: flex;
	flex-wrap: wrap;
}

.sort-by li:nth-child(7n + 1),
.sort-by li:nth-child(7n + 3),
.sort-by li:nth-child(7n + 5),
.sort-by li:nth-child(7n + 7) {
	padding-right: 33px;
}

.sort-by li:nth-child(7n + 2),
.sort-by li:nth-child(7n + 4),
.sort-by li:nth-child(7n + 6) {
	padding-right: 32px;
}

/* None or Normal - Покой */
.sort-by a {
	border-bottom: 1px dashed var(--basic-seagull);
	color: var(--black-thirty-percent);
	font-size: 12px;
}

/* Hover - Наведение */
.sort-by a:hover {
	border-bottom: 1px dashed var(--basic-seagull);
	color: var(--basic-seagull);
}

/* Focused - Активный */
.sort-by a:focus {
	color: var(--basic-seagull);
	border-bottom: none;
}

/* Pressed - Нажатие */
.sort-by a:active {
	color: var(--basic-black);
	border-bottom: none;
}

.sort-by-current a {
  color: var(--basic-seagull);
  border-bottom: none;
}

.sort-btn {
	text-align: right;
	padding-top: 9px;
}

.sort-up-btn {
	padding-right: 3px;
}

.sort-down-btn {
	padding-left: 6px;
}

.sort-btn p {
	margin: 0;
}

.sort-btn a {
	fill: var(--very-light-grey);
}

.sort-btn a:hover, .sort-btn a:focus {
	fill: var(--basic-black);
}

.sort-btn a:active, .sort-btn .active {
	fill: var(--basic-seagull);
}

.hotel-result {
	margin: 0;

	padding: 24px 73px 29px 73px;

	border-bottom: 1px solid var(--basic-gainsboro);

	display: grid;
	grid-template-columns: 1fr 5fr 1fr;
}

.hotel-result:nth-child(2) {
	border-top: 1px solid var(--basic-gainsboro);
}

.hotel-img {
	margin: 0;

	padding-top: 6px;

	width: 135px;
	height: 90px;
}

.hotel-info {
	margin: 0 14px;
}

.hotel-info h2 {
	margin: 0;

	padding-top: 0;
}

.hotel-info .hotel-type {
	margin: 0;
	padding-top: 7px;
	padding-bottom: 6px;
	display: flex;
	flex-wrap: wrap;

	justify-content: start;

}

.hotel-info span {
	margin: 0;
	line-height: 21px;
	width: 117px;
}

.hotel-name {
	margin: 0; 
	color: var(--basic-black);
}

.hotel-name:hover, .hotel-name:focus {
	color: var(--basic-seagull);
}

.hotel-name:active {
	color: var(--black-thirty-percent);
}

.hotel-btn {
	margin: 0;
	padding-top: 10px;
}

.hotel-btn a {
	margin-right: 3px;
	margin-left: 0;
}

.more {
	line-height: 21px;
	font-weight: 700;
	width: 110px;
	color: var(--basic-white);
	background-color: var(--basic-seagull);
	padding: 3px 16px 3px 17px;
}

.more:hover, .more:focus {
	background-color: var(--basic-seagull-hover);
}

.more:active {
	background-color: var(--basic-seagull-active);
	color: var(--white-thirty-percent);
}

.book-now {
	line-height: 21px;
	font-weight: 700;
	color: var(--basic-white);
	background-color: var(--pine-cone);
	padding: 3px 17px 3px 16px;
}

.book-now:hover, .book-now:focus {
	background-color: var(--pine-cone-hover);
}

.book-now:active {
	background-color: var(--pine-cone-active);
	color: var(--white-thirty-percent);
}

.hotel-rating {
	margin: 0;
	padding-top: 5px;
	text-align: right;
}

.hotel-rating p {
	margin: 0;
	padding-bottom: 40px;
}

.hotel-rating img {
	margin: 0;
}

.hotel-rating span {
	margin: 0;

	padding: 3px 12px 3px 15px;

    line-height: 21px;

    font-size: 14px;

	color: var(--dim-gray);
	background-color: var(--white-smoke-level1);
}

/* Main footer */

.main-footer {
	color: var(--basic-black);
}

.main-footer .content {
	background-color: var(--white-ninety-percent);
	padding-top: 23px;
	padding-bottom: 26px;

	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.footer-contacts,
.footer-social,
.footer-copyright {
	margin: 0;
}

.footer-contacts {
	font-weight: 700;
	text-align: center;

	padding-left: 73px;
}

.footer-contacts h2, .footer-contacts p {
	font-size: 21px;

	margin-top: 0;
	margin-bottom: 0;

	padding-bottom: 9px;
}

.footer-contacts p {
	padding-bottom: 10px;
}

.footer-contacts h2,
.footer-contacts p  {
	margin-top: 0;
	margin-bottom: 0;
}

.footer-contacts a {
	color: var(--basic-black);
}

.footer-social {
	text-align: center;

	padding-top: 5px;
}

.footer-social ul {
	list-style: none;

	margin-top: 9px;
	margin-bottom: 9px;

	display: flex;
	padding-left: 0;
	align-items: center;
	justify-content: center;
}

/* Social button */

.social-button {
	background-color: var(--basic-seagull);
	width: 46px;
	height: 48px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 6px;
}

.social-button:hover, .social-button:focus {
	background-color: var(--basic-seagull-hover);
}

.social-button:active {
	background-color: var(--basic-seagull-active);
}

.social-button:active img {
	opacity: 0.3;
}

.footer-social-item:last-child a {
	margin-right: 0;
}

.footer-copyright {
	padding-right: 73px;

	display: flex;
	justify-content: center;
	align-items: center;
}

.website-by {
	padding-top: 7px;
	padding-bottom: 0;
}

.website-by + a {
	margin-left: 8px;
}

.footer-copyright a {
	line-height: 0;
}

.button-by:hover path, .button-by:focus path {
	fill: var(--basic-seagull);
}

.button-by:active path {
	fill: var(--basic-silver);
}