/* Variables */

:root {
	--basic-white: #ffffff;
	--white-smoke-level1: #f2f2f2;
	--white-smoke-level2: #eeeeee;

	--basic-black: #000000;
	--basic-black-thirty-percent: rgba(0, 0, 0, 0.3);
	--night-rider: #333333;

	--basic-seagull: #81b3d2;
	--basic-seagull-hover: #669ec0;
	--pine-cone: #766357;
	--pine-cone-hover: #604e43;

	--basic-gainsboro: #e5e5e5;
	--very-light-grey: #cacaca;
	--dim-gray: #666666;

	--white-ninety-percent: rgba(255, 255, 255, 0.9);
}

/* Globale */

body {
	margin: 0;
	padding: 0;
	
	font-size: 14px;
	line-height: 26px;
	color: var(--basic-black);
	text-transform: uppercase;
	font-weight: 400;
	font-family: "PT Sans", Arial, sans-serif;
	background-color: var(--white-smoke-level1);
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

/* Class visually-hidden */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Grid */

.page {
	height: 100%;
}

.page-body {
	min-height: 100%;
	display: grid;
	grid-template-rows: min-content 1fr min-content;
	align-content: start;
}

.main-header {

	outline: 5px solid rgba(0, 255, 0, 0.3);
	outline-offset: -5px;
}

/* Logo */

.main-header-logo {
	width: 138px;
	height: 70px;

	outline: 5px solid rgba(255, 0, 0, 0.3);
	outline-offset: -5px;
}

/* Main Navigation */

.main-navigation{
	display: flex;
	flex-direction: column;
	align-items: center;

	font-weight: 700;
	color: var(--basic-black);
}

.main-navigation-wrapper {
	background-color: var(--basic-white);

	width: 100%;
}

.site-navigation {
	list-style: none;
	margin: 0;
	padding: 0;

	outline: 5px solid rgba(0, 0, 255, 0.3);
	outline-offset: -5px;
}

/* None or Normal - Покой */
.site-navigation a {
	color: var(--basic-black);
}

/* Hover - Наведение */
.site-navigation a:hover {
	color: var(--basic-seagull);
}

/* Focused - Активный */
.site-navigation a:focus {
	color: var(--pine-cone);
}

/* Pressed - Нажатие */
.site-navigation a:active {
	color: var(--basic-black-thirty-percent);
}

/* Находимся на странице */
.site-navigation-current a {
  color: var(--pine-cone);
}

/* Main content sections */

.container {
	width: 1200px;

	margin:0 auto;
}

.container h2 {
	font-weight: 700;
	font-size: 21px;
}

.introduction, .advantages, .interested {
	text-align: center;
}

.introduction, .interested {
	background-color: var(--basic-white);
}

/* Introduction Section */
.page-body main {
	outline: 5px solid rgba(0, 180, 0, 0.3);
	outline-offset: -5px;
}

.introduction {
	outline: 5px solid rgba(180, 0, 0, 0.3);
	outline-offset: -5px;
}

.introduction p {
	color: var(--night-rider);
}

/* Advantages Section */

.advantages {
	outline: 5px solid rgba(181, 0, 204, 0.5);
	outline-offset: -5px;
}

.advantages h2, .advantages h3 {
	line-height: 21px;
}

.real-town, .bridge {
	background-color: var(--basic-seagull);
	color: var(--basic-white);
}

.real-town {
	outline: 5px solid rgba(247, 202, 24, 0.7);
	outline-offset: -5px;
}

.real-town h2, .bridge h2 {
	outline: 5px solid rgba(0, 0, 200, 0.5);
	outline-offset: -5px;
}

.real-town h3, .bridge h3 {
	outline: 5px solid rgba(0, 200, 0, 0.5);
	outline-offset: -5px;
}

.real-town p, .bridge p {
	outline: 5px solid rgba(200, 200, 0, 0.5);
	outline-offset: -5px;
}

.real-town img, .bridge img {
	outline: 5px solid rgba(200, 0, 0, 0.5);
	outline-offset: -5px;
}

.comfort {
	background-color: var(--basic-white);

	outline: 5px solid rgba(211, 38, 0, 0.7);
	outline-offset: -5px;
}

.housing, .food, .souvenirs {
	outline: 5px solid rgba(211, 38, 211, 0.7);
	outline-offset: -5px;
}

.housing h2, .food h2, .souvenirs h2 {
	outline: 5px solid rgba(0, 255, 211, 0.7);
	outline-offset: -5px;
}

.housing p, .food p, .souvenirs p {
	outline: 5px solid rgba(0, 0, 70, 0.7);
	outline-offset: -5px;
}

.bridge {
	outline: 5px solid rgba(247, 202, 24, 0.7);
	outline-offset: -5px;
}

.attractions {
	background-color: var(--white-smoke-level2);

	outline: 5px solid rgba(211, 38, 0, 0.7);
	outline-offset: -5px;
}

.attractions h3, .attractions p {
	color: var(--night-rider);
	font-weight: 400;
}

.area, .road, .tourist {
	outline: 5px solid rgba(211, 38, 211, 0.7);
	outline-offset: -5px;
}

.area h2, .road h2, .tourist h2 {
	outline: 5px solid rgba(0, 255, 211, 0.7);
	outline-offset: -5px;
}

.area h3, .road h3, .tourist h3 {
	outline: 5px solid rgba(255, 255, 40, 0.7);
	outline-offset: -5px;
}

.area p, .road p, .tourist p {
	outline: 5px solid rgba(0, 0, 70, 0.7);
	outline-offset: -5px;
}

/* Button */

.button {
	border: none;
}

/* Interested Section */

.interested {
	outline: 5px solid rgba(0, 0, 180, 0.3);
	outline-offset: -5px;
}

.interested h2, .interested p {
	line-height: 24px;
}

.interested h2 {
	font-weight: 700;
	font-size: 30px;
}

.hotel-search {
	font-weight: 700;
	margin:0 auto;
	width: 568px;

	outline: 5px solid rgba(180, 0, 0, 0.3);
	outline-offset: -5px;
}

.hotel-search .search-popup, .hotel-search .search {
	color: var(--basic-white);
	font-size: 21px;
}

.search-popup {
	background-color: var(--pine-cone);
	line-height: 26px;
}

.search {
	background-color: var(--basic-seagull);
}

.sedona-map {
	background-color: var(--basic-white);

	outline: 5px solid rgba(155, 0, 130, 0.7);
	outline-offset: -5px;
}

.filter {
	background: var(--basic-seagull) url("../img/filter-background.jpg") no-repeat center top;
	color: var(--basic-white);
	line-height: 21px;
	font-size: 14px;
}

.filter-form {
	outline: 5px solid rgba(211, 38, 0, 0.7);
	outline-offset: -5px;
}

.filter-form button {
	outline: 5px solid rgba(0, 0, 255, 0.3);
	outline-offset: -5px;
}

.infrastructure, .housing-type, .cost-per-night {
	outline: 5px solid rgba(211, 38, 0, 0.3);
	outline-offset: -5px;
}

.filter fieldset {
	border: 0;
}

.filter legend {
	font-size: 16px;
	font-weight: 700;
}

.filter-result {
	background-color: var(--basic-white);

	outline: 5px solid rgba(240, 0, 0, 0.7);
	outline-offset: -5px;
}

.filter-sort {
	font-size: 12px;
	line-height: 18px;

	outline: 5px solid rgba(0, 0, 240, 0.7);
	outline-offset: -5px;
}

.hotel-result {
	outline: 5px solid rgba(240, 240, 0, 0.7);
	outline-offset: -5px;
}

.hotel-img {
	outline: 5px solid rgba(0, 240, 0, 0.7);
	outline-offset: -5px;
}

.hotel-info {
	outline: 5px solid rgba(0, 0, 240, 0.7);
	outline-offset: -5px;
}

.hotel-info h2 {
	outline: 5px solid rgba(240, 0, 240, 0.7);
	outline-offset: -5px;
}

.hotel-info span {
	outline: 5px solid rgba(0, 240, 240, 0.7);
	outline-offset: -5px;
}

.hotel-info .more {
	outline: 5px solid rgba(240, 0, 0, 0.7);
	outline-offset: -5px;
}

.hotel-info .book-now {
	outline: 5px solid rgba(0, 240, 0, 0.7);
	outline-offset: -5px;
}

.found {
	font-size: 21px;
	font-weight: 700;
	line-height: 26px;

	outline: 5px solid rgba(211, 38, 0, 0.3);
	outline-offset: -5px;
}

.sort {
	outline: 5px solid rgba(211, 38, 0, 0.3);
	outline-offset: -5px;
}

.sort-by {
	list-style: none;

	outline: 5px solid rgba(240, 0, 240, 0.7);
	outline-offset: -5px;
}

.sort-by li {
	outline: 5px solid rgba(211, 38, 0, 0.3);
	outline-offset: -5px;
}

/* None or Normal - Покой */
.sort-by a {
	border-bottom: 1px dashed var(--basic-seagull);
	color: var(--basic-black-thirty-percent);
	font-size: 12px;
}

/* Hover - Наведение */
.sort-by a:hover {
	border-bottom: 1px dashed var(--basic-seagull);
	color: var(--basic-seagull);
}

/* Focused - Активный */
.sort-by a:focus {
	color: var(--basic-seagull);
	border-bottom: none;
}

/* Pressed - Нажатие */
.sort-by a:active {
	color: var(--basic-black);
	border-bottom: none;
}

.sort-by-current a {
  color: var(--basic-seagull);
  border-bottom: none;
}

.sort-btn p {
	outline: 5px solid rgba(0, 240, 0, 0.7);
	outline-offset: -5px;
}

.sort-btn a {
	outline: 5px solid rgba(90, 0, 150, 0.7);
	outline-offset: -5px;
}

.hotel-name {
	color: var(--basic-black);

	outline: 5px solid rgba(240, 240, 0, 0.7);
	outline-offset: -5px;
}

.hotel-name:hover {
	color: var(--basic-seagull);
}

.more {
	line-height: 21px;
	font-weight: 700;
	color: var(--basic-white);
	background-color: var(--basic-seagull);
	padding: 3px 16px 3px 17px;
}

.more:hover {
	background-color: var(--basic-seagull-hover);
}

.book-now {
	line-height: 21px;
	font-weight: 700;
	color: var(--basic-white);
	background-color: var(--pine-cone);
	padding: 3px 17px 3px 16px;
}

.book-now:hover {
	background-color: var(--pine-cone-hover);
}

.hotel-rating {
	outline: 5px solid rgba(240, 90, 0, 0.7);
	outline-offset: -5px;
}

.hotel-rating p {
	outline: 5px solid rgba(90, 0, 150, 0.7);
	outline-offset: -5px;
}

.hotel-rating img {
	outline: 5px solid rgba(90, 150, 0, 0.7);
	outline-offset: -5px;
}

.hotel-rating span {
	color: var(--dim-gray);
	background-color: var(--white-smoke-level1);
	padding: 3px 12px 3px 15px;

	outline: 5px solid rgba(150, 90, 0, 0.7);
	outline-offset: -5px;
}

/* Main footer */

.main-footer {
	color: var(--basic-black);

	outline: 5px solid rgba(255, 0, 0, 0.7);
	outline-offset: -5px;
}

.main-footer .container {
	background-color: var(--white-ninety-percent);

	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.footer-contacts {
	font-weight: 700;

	outline: 5px solid rgba(0, 255, 255, 0.7);
	outline-offset: -5px;
}

.footer-contacts h2, .footer-contacts p {
	font-size: 21px;
}

.footer-contacts h2 {
	outline: 5px solid rgba(0, 255, 0, 0.7);
	outline-offset: -5px;
}

.footer-contacts p {
	outline: 5px solid rgba(255, 0, 0, 0.7);
	outline-offset: -5px;
}

.footer-social {
	text-align: center;

	outline: 5px solid rgba(0, 255, 0, 0.7);
	outline-offset: -5px;
}

.footer-contacts a {
	color: var(--basic-black);
}

.footer-social ul {
	list-style: none;

	outline: 5px solid rgba(0, 0, 255, 0.7);
	outline-offset: -5px;
}

.footer-social li {
	outline: 5px solid rgba(255, 0, 0, 0.7);
	outline-offset: -5px;
}

/* Social button */

.social-button {
	background-color: var(--basic-seagull)
}

.footer-copyright {
	outline: 5px solid rgba(0, 0, 255, 0.7);
	outline-offset: -5px;
}

.website-by {
	outline: 5px solid rgba(0, 255, 0, 0.7);
	outline-offset: -5px;
}

.footer-copyright a {
	outline: 5px solid rgba(255, 0, 0, 0.7);
	outline-offset: -5px;
}